<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759881211121-6higlrh0l1gj4oaenhi3cjafmgnr5g53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759881211121-6higlrh0l1gj4oaenhi3cjafmgnr5g53</string>
	<key>API_KEY</key>
	<string>AIzaSyDCellxUDy63hrdZMnsuQcFLJ566SIcKT0</string>
	<key>GCM_SENDER_ID</key>
	<string>759881211121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.14Digital.Staff4Care</string>
	<key>PROJECT_ID</key>
	<string>staff4care-85e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>staff4care-85e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759881211121:ios:ed834e236ae4cb8a449d50</string>
	<key>DATABASE_URL</key>
	<string>https://staff4care-85e1e.firebaseio.com</string>
</dict>
</plist>